body{
  width:100%;
}
.page{
background-color:white;
width:1170px;
margin-left: auto;
margin-right: auto;
}

.left{
  height: 100%;
  background: -o-linear-gradient(277deg, #D4FC79 0%, #D4FC79 100%);
  background: linear-gradient(7deg, #D4FC79 0%, #D4FC79 100%);
  position: relative;
}

.iphonebox{
  width: 70%;
  height: auto;
  margin-top: 60px;
  position: relative;
}

.over{
  width: 112%;
  z-index: 100;
  margin-top: 120px;
}


.databox{
  position: absolute;
  top: 67px;

}

.iphone{
  width: 65%;
  z-index: 110;
  left: 40px;
  top: -27px;
  position: absolute;
}

.move{
  position: absolute;
}




/*.iphone{
  width: 45%;
  position: absolute;
  z-index: 1;
}*/

/*.move{
  float:right;
  position: absolute;
  z-index: 2;
}*/

.logo{
  margin-top: 15px;
  margin-left: 100px;
  width: 50%;
}

.txtbox{
  margin-left: 100px;
  margin-top: 25px;
}

.head{
  	font-family: "Arial Rounded MT Bold";
    	font-size: 20px;
}

.body1{
	font-family: "Arial Rounded MT Bold";
  	font-size: 18px;
}
.body2{
	font-family: "Arial Rounded MT Bold";
  	font-size: 12px;
        padding-left: 65px;
}
.buttonbox img {
  width: 45%;
  margin-left: 25%;
}

.save{
  margin-left: -39px !important;
    width: 10% !important;
    margin-top: -322px;
    margin-bottom: 194px;
}
.fp{
  margin-left: -62px !important;
  width: 10% !important;
  margin-top: -19px;
  margin-bottom: -29px;
}
