.rect-content {
	width: 50%;
  height: 120%;
	background: linear-gradient(225deg, #D4FC79 0%, #D4FC79 100%);
}
img
{
  max-width: 100%;
}
.absolute-data
{
  width: 100%;
  height: 100%;
}
.graph-data-top
{
  width: 100%;
  height: 41.7%;
}
.graph-data
{
  display: flex;
  height: 55.4%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.graph-data-bottom
{
  height: 2.9%;
  width: 100%;
}
.graph-data-real
{
  width: 96%;
  height: auto;
}
