.total-content
{
  width: 100%;
  height: 100%;
}
.left-content
{
  width: 50%;
  height: 100%;
  background: #ff0000;
  float: left;
}
.right-content
{
  width: 50%;
  margin-left: : 50%;
  height: 100%;
  float: right;
}
.left-top
{
  height: 24.2%;
  width: 100%;
  background: #fff000;
}
.left-mid
{
  width: 100%;
  height: 50.4%;
  background: #ffff00;
}
.left-bottom
{
  width: 100%;
  height: 25.4%;
  background: #00ff00;
}
.learn-more-here{
  max-width: 9.7%;
  max-height: 1.6%;
  float: right;
  margin-right: 5.8%;
  margin-top: 3.8%;
}
.oval-3{
	max-height: 15.7%;
	max-width: 11.3%;
  margin-right: 36.5%;
  float: right;
}
