.rectangle-11 {
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
}

.rectangle-3 {
  position:absolute;
	height: 99.9%;
	width: 74.58%;
  left: 366px;

	background: linear-gradient(180.07deg, #D4FC79 0%, #D4FC79 100%);
}

.logo {
  position: absolute;
	height: 9.57%;
	width: 25.56%;
  top: 2.25%;
  left: 1.81%;
}

.iphone-mockup {
  position: absolute;
	height: 777px;
	width: 382px;
  top:16.41%;
  left: 1.32%;
  bottom : 7.71%;
}

.wordings {
  position:absolute;
	height: 413px;
	width: 866px;
  top:12.99%;
  right:9.86%;
}
