.rectangle-11 {
	height: 1024px;
	width: 1440px;
	background-color: #FFFFFF;
}

.rectangle-3 {
  position:absolute;
	height: 99.9%;
	width: 74.58%;
  left: 321.48px;

	background: linear-gradient(180.07deg, #D4FC79 0%, #D4FC79 100%);
}

.logo {
  position: absolute;
	height: 9.57%;
	width: 25.56%;
  top: 23px;
  left: 26px;
}

.iphone-mockup {
  position: absolute;
	height: 777px;
	width: 382px;
  top:168px;
  left: 19px;
  bottom : 79px;
  right: 1039px;

}

.wordings {
  position:absolute;
	height: 413px;
	width: 866px;
  top:134px;
  left:432px;
  right:142px;
  bottom: 477px;
}

.iot {
  position:absolute;
	height: 227px;
	width: 184px;
  top:568px;
  left:400px;
  right:820px;
  bottom:228px;
}

.bigdata {
  position:absolute;
	height: 227px;
	width: 184px;
  top:568px;
  left:684px;
  right:539px;
  bottom:228px;
}


.analytics {
  position:absolute;
	height: 227px;
	width: 184px;
  top:568px;
  left:964px;
  right:820px;
  bottom:228px;
}
